.container {
  animation-name: myslidein;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #00D1AE;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #00D1AE;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #00D1AE;
}

@keyframes myslidein {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}
