.container {
  margin: 20px 0 0 20px;
  display: flex;
  animation: mysquare 2s, mytriangle 2s, mycircle 2s
}

.circle {
  width: 30px;
  height: 30px;
  background: #456789;
  border-radius: 50%;
  margin: 10px;
}

.square {
  width: 30px;
  height: 30px;
  background: #456789;
  margin: 10px;
}

.triangle {
  margin: 10px;
  border-style: solid;
  border-color: transparent transparent #456789 transparent;
  border-width: 0 20px 30px 20px;
}

.square {
  animation-name: mysquare;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

.square:before,
.square:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.square:before {
  bottom: 100%;
}

.square:after {
  top: 100%;
  width: 0;
}

@keyframes mysquare {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 100%;
    width: 100%;
  }
}

.triangle {
  animation-name: mytriangle;
  animation-duration: 5s;
}

.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  width: 0;
  
}

.triangle:before {
  bottom: 100%;
}

.triangle:after {
  top: 100%;
  width: 0;
}

@keyframes mytriangle {
  0% {
    margin-left: 0%;
  }

  25% {
    margin-left: 25%;
    margin-top: 25%;
  }

  75% {
    margin-left: 75%;
    margin-top: 75%;
  }

  50% {
    margin-left: -50%;
    margin-top: -50%;
  }

  100% {
    margin-left: 100%;
    width: 100%;
  }
}

.circle {
  display: inline-block;
  animation: bounce; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* .square {
  display: inline-block;
  animation: slideOutRight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
} */

